* {
     box-sizing: border-box;
     outline: none;
}
 body {
     box-sizing: border-box;
     color: #6d6e71;
     font-family: 'Open Sans', sans-serif;
     margin: auto;
}
 .top {
     background-color: #e5f3f2;
}
/*header styles*/
 header {
     font-family: 'Roboto Slab', serif;
     font-size: 5vw;
     padding-top: 10px;
     text-align: center;
}
 .header-green {
     color: #00a79d;
}
 h1 {
     color: #6d6e71;
     font-family: 'Roboto Slab', serif;
}
/*input field styles*/
 fieldset {
     border: 0px;
     margin: auto;
     width: 50%;
}
 input {
     border: 2px solid #d1d3d4;
     font-family: 'Open Sans', sans-serif;
     font-size: 90%;
     height: 35px;
     margin: 8px auto;
     outline: none;
     padding: 5px;
     width: 100%;
}
 input::placeholder {
     color: #d1d3d4;
}
/*button styles*/
 .save-button {
     background-color: #00a79d;
     border: 0;
     color: #FFFFFF;
     font-size: 18px;
     height: 35px;
     margin: 8px auto;
     outline: none;
     text-align: center;
     width: 100%;
}
/*idea card styles*/
 .article {
     border-bottom: 1px solid #d1d3d4;
     color: #939598;
     height: 170px;
}
 .article-genius {
     border-bottom: 1px solid #d1d3d4;
     color: #939598;
     height: 170px;
}
 .article-plausible {
     border-bottom: 1px solid #d1d3d4;
     color: #939598;
     height: 170px;
}
 ol {
     list-style-type: none;
     margin: 0 auto;
     padding-left: 0;
     width: 48%;
}
 li {
     margin: auto;
}
 .quality-serif {
     font-family: 'Roboto Slab', serif;
}
 .quality {
     bottom: 45px;
     color: #6d6e71;
     left: 85px;
     position: relative;
}
 .up-vote {
     background-image: url("images/upvote.svg");
     background-position: center;
     background-repeat: no-repeat;
     border: none;
     height: 25px;
     outline: none;
     width: 25px;
}
 .up-vote:hover {
     background-image: url("images/upvote-hover.svg");
     outline: none;
}
 .down-vote {
     background-image: url("images/downvote.svg");
     background-position: center;
     background-repeat: no-repeat;
     border: none;
     height: 25px;
     outline: none;
     width: 25px;
}
 .down-vote:hover {
     background-image: url("images/downvote-hover.svg");
     outline: none;
}
 .delete-button {
     background-image: url("images/delete.svg");
     background-position: center;
     background-repeat: no-repeat;
     border: none;
     height: 25px;
     left: 95%;
     outline: none;
     position: relative;
     top: 47px;
     width: 25px;
}
 .delete-button:hover {
     background-image: url("images/delete-hover.svg");
     outline: none;
}
 @media screen and (max-width: 768px) {
     fieldset {
         width: 90%;
    }
     header {
         font-size: 10vw;
    }
     ol {
         padding-left: 0;
         margin: 0 auto;
         width: 80%;
    }
     .body-input {
         height: 100px;
    }
     .body-input::placeholder {
         bottom: 30px;
         position: relative;
    }
}
 